/*footer*/
.footer
{
background-color:pink;
color: blue;
font-family: 'Times New Roman', Times, serif;
display: flex;
justify-content: center;
align-items: center;
flex-direction:column;
height: 400px;

}
.footer> .logo-footer img
{
width: 180px;
height: 100%;
margin-top: -4px;
filter:brightness(50%);
}

.footer> .footer-phone-hours span{
    margin-left: 10px;
    margin-right: 10 px;
    font-size: 1em;
    letter-spacing: 2px;
}

.footer> .footer-phone-hours> .hours{
   font-size: 0.8em;
   color: #fd7f20 ;
   text-transform: capitalize;
}

.footer> .links-column
{ margin-top: 40px;
    margin-bottom: 40px;
    width: 300px;
}
 
.footer>.social-media-icons-wrapper
{
    margin-top: 40px;
    margin-bottom: 40px;
    width: 200px;
    display: flex;
    justify-content: space-around;
}
.footer>.social-media-icons-wrapper a
{
   font-size: 2em;
   color: white;
   transition: 1.5s;
}
.footer>.social-media-icons-wrapper a:hover{
    color: burlywood;
}

.footer> .copywright-wrapper{
    margin-bottom: 42px;
    font-size: 0.7em;
    color: grey;
}